<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<style>
	.error{
		color:red;
	}
</style>
</head>
<body>
	<h1>掲示板アプリケーション</h1>
	<form action="bbs.html" th:action="@{/insert-article}" method="post"
	th:object="${articleForm}">
		<label for="article-name">投稿者名:</label>
		<span class="error" th:errors="*{name}">error</span><br>
		<input id="article-name" name="name" th:field="*{name}"><br>
		<label for="article-content">投稿内容:</label>
		<span class="error" th:errors="*{content}">error</span><br>
		<textarea id="article-content" rows="3" cols="25"
		name="content" th:field="*{content}"></textarea><br>
		<button>記事投稿</button>
	</form>
	<span th:text="${insertedArticleMessage}"></span>
	
	<div th:each="article:${articleList}">
		<hr>
		<div>
			<span>投稿ID:</span>
			<span th:text="${article.id}">0</span>
		</div>
		<div>
			<span>投稿者名:</span>
			<span th:text="${article.name}">たろう</span>
		</div>
		<div>
			<span>投稿内容:</span>
			<span th:text="${article.content}">とうこう</span>
		</div>
		<form action="bbs.html" th:action="@{/delete-article-and-comment}" method="post">
			<input type="hidden" name="articleId" th:value="${article.id}">
			<button>記事削除</button>
			<button class="likeBtn" th:value="${article.id}" type="button"><span class="far fa-thumbs-up"></span></button>
			<span th:id="'likeCount' + ${article.id}">0</span>
		</form>
		<br>
		<div th:each="comment:${article.commentList}">
			<div>
				<span>コメントID:</span>
				<span th:text="${comment.id}">100</span>
			</div>
			<div>
				<span>コメント者名:</span>
				<span th:text="${comment.name}">じろう</span>
			</div>
			<div>
				<span>コメント内容:</span>
				<span th:text="${comment.content}">こめんと</span>
			</div><br>
		</div>
		<form action="bbs.html" th:action="@{/insert-comment}" method="post"
		th:object="${commentForm}">
			<label for="comment-name">名前:</label>
			<span th:if="${articleId == article.id}" class="error" th:errors="*{name}">error</span><br>
			<input id="comment-name" name="name" th:field="*{name}"><br>
			<label for="comment-content">コメント:</label>
			<span th:if="${articleId == article.id}" class="error" th:errors="*{content}">error</span><br>
			<textarea id="comment-content" rows="3" cols="25"
			name="content" th:field="*{content}"></textarea><br>
			<input type="hidden" name="articleId" th:value="${article.id}">
			<button>コメント投稿</button>
		</form><br>
	</div>
	
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script th:src="@{/js/like.js}"></script>
</body>
</html>