<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>掲示板アプリケーション</h1>
	<form action="bbs.html" th:action="@{/insert-article}" method="post"
	th:object="${articleForm}">
		<label for="article-name">投稿者名:</label>
		<input id="article-name" name="name" th:field="*{name}"><br>
		<label for="article-content">投稿内容:</label>
		<textarea id="article-content" rows="3" cols="25"
		name="content" th:field="*{content}"></textarea><br>
		<button>記事投稿</button>
	</form>
	
	<hr>
	
	<div th:each="article:${articleList}">
		<div>
			<span>投稿ID:</span>
			<span th:text="${article.id}">0</span>
		</div>
		<div>
			<span>投稿者名:</span>
			<span th:text="${article.name}">たろう</span>
		</div>
		<div>
			<span>投稿内容:</span>
			<span th:text="${article.content}">投稿内容</span>
		</div>
		<div></div>
		<div th:each="comment:${article.commentList}">
			<div>
				<span>コメントID:</span>
				<span th:text="${comment.id}">0</span>
			</div>
			<div>
				<span>コメント者名:</span>
				<span th:text="${comment.name">0</span>
			</div>
			<div>
				<span>コメント内容:</span>
				<span th:text="${comment.content}">0</span>
			</div>
		</div>
	</div>
</body>
</html>